/*
  default_style.css
  Jared Moskowitz
*/

body
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin-left: 2%;
	margin-right: 2%;
}

#title
{
  text-align:center;
}

#date
{
  font-style: italic;
}

#organization
{
  font-weight: bold;
  font-size: 18px;
}

#course, #languange, #tool
{
  font-style: italic;
}

h2.section
{
  text-align: center;
}

#subheader
{
  font-weight: bold;
}
}
